<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reg.css">
    <title>Отзовик - Вход</title>
</head>
<body>
    <script type="module" src="/js/checkToken.js" defer></script>
    <script src="/js/login.js" defer></script>
    <header class="header">
        <div class="logo-area">
            <span class="logo-placeholder"><img src="/logo.png" alt="Логотип"></span>
            <a href="/"><span class="site-name"><strong>Отзовик</strong></span></a>
        </div>
        <div class="header-right">
            <a class="login-btn" href="/login">Вход</a>

            <a class="login-btn" href="/profile">Личный кабинет</a>

        </div>
    </header>

    <main class="main-content">
        <div class="registration-container">
            <div class="registration-box">
                <h1 class="registration-title">Вход</h1>

                <form id="reg-form" class="registration-form">
                    <div class="form-group">
                        <label class="form-label">Электронная почта</label>
                        <input id="email" type="email" class="form-input" name="email" required>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Пароль</label>
                        <input id="password" type="password" class="form-input" name="password" required>
                    </div>

                    <button type="submit" class="register-button">Войти</button>

                    <div class="login-link">
                        <span class="login-link-text">Нет аккаунта?</span>
                        <a href="/registration" class="login-link-action">Зарегистрироваться</a>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-info">
            <strong>Отзовик.рф</strong><br>
            +7(981)918-81-18
            г. Москва, ул. Красная, д. 7<br>
            Все права защищены 2026<br>
            <a href="/faq" class="faq-link">FAQ</a>
        </div>
    </footer>
</body>
</html>