<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Отзовик - Главная страница</title>
</head>
<body>
    <script type="module" src="/js/checkToken.js" defer></script>
    <header class="header">
        <div class="logo-area">
            <span class="logo-placeholder"><img src="/logo.png" alt="Логотип"></span>
            <a href="/"><span class="site-name"><strong>Отзовик</strong></span></a>
        </div>
        <div class="header-right">
            <a class="login-btn" href="/login">Вход</a>

            <a class="login-btn" href="/profile">Личный кабинет</a>

        </div>
    </header>
    <main class="main-content">
        <div class="hero">
            <h1 class="main-title">Отзовик.рф</h1>
            <h2 class="slogan">«Скажи, что думаешь на самом деле»</h2>
            <p class="description">
                Платформа для честных отзывов о продуктах на интернет-площадках<br>
                Делитесь опытом, читайте реальные мнения и помогайте другим делать правильный выбор
            </p>
            <a href="/review"><button class="cta-button">Перейти к отзывам</button></a>
            <a href="/analysis"><button class="cta-button">Перейти к анализу</button></a>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-info">
            <strong>Отзовик.рф</strong><br>
            +7(981)918-81-18
            г. Москва, ул. Красная, д. 7<br>
            Все права защищены 2026<br>
            <a href="/faq" class="faq-link">FAQ</a>
        </div>
    </footer>
</body>
</html>